/* Insert your styles here */
body{
    /* Creative Commons image sourced from https://www.pexels.com/photo/architecture-room-indoors-auditorium-109669/ and used for educational purposes only */
    background-image: url(media/website-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.container{
    font-family: 'Montserrat', sans-serif;
    background-color:black;
    color: white;
}
#logo{

    height: 150px;
    width: 150px;
}
.jumbotron{
    /* Creative Commons image sourced from https://www.pexels.com/photo/architecture-building-business-cinema-436413/ and used for educational purposes only */
    background-image: url(media/jumbotron-background.jpg);
    background-size: cover;
    background-position: 0 50%;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    text-align: center;
}
#company-name{
    font-size: 60px;
    color: white;
    margin-bottom: 0px;
}
.nav-link:hover{
    color: white;
}
#about-us-header{
     /* Creative Commons image sourced from https://www.pexels.com/photo/people-sitting-on-gang-chairs-2774556/ and used for educational purposes only */
    background-image: url(media/about-us-header-img.jpg);
    height: 175px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 2500px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);

    text-align: center;
    color: white;
    padding: 30px;
}
p{
  
}